# Xcode
build/
DerivedData/
*.xcuserstate
project.xcworkspace/xcuserdata/
*.xcuserdatad
*.xccheckout
*.xcscmblueprint

# Swift Package Manager
.build/
.swiftpm/

# OS X
.DS_Store

# Security & Certificates
*.p12
*.cer
*.provisionprofile
*.p8

# Environment & Secrets
.env
.env.*

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output